.logo {
    margin: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(97, 183, 97);
    letter-spacing: 2px;
    margin-right: 700px;
}

th {
    font-family:Arial, Helvetica, sans-serif;
    padding: 0px 100px;
}

div {
    background-color: lightgray;
    height:450px;
    font-family:Impact; 
    font-weight:bold; 
    font-size: 80px;
    padding:100px;
}

p {
    margin-top:-525px;
    padding:100px;
    font-family:Arial;
    width:300px;
    font-size:20px;
    line-height:25px;
}

.browse {
    font-family:Arial;
}